.auto-style5 {
         width: 514px;
      }
      .auto-style6 {
         width: 221px;
      }
      #Select1 {
         width: 147px;
      }
     
      .popupMenu {
            position:absolute;
            background-color: #6EC1DD;
            opacity:.9;
            visibility:hidden;
            filter: alpha(opacity=90);
            top: 61px;
            left: 730px;
            height: 130px;
            margin-top: 0px;
            border-radius: 4px;
}
      .popupHover {
         background-position:left top;
         visibility:visible;
      }
      .pageTitle {   
         font-weight: 700;
         font-size: xx-large;
         color: #1C0F00;
      }
      .pageHeader2 {  
         font-weight: 600;
         font-size: large;
         color: #1C0F00;
      }
      .editUserImage {
         position:relative;
         top:-21px;
         left:106px;
      }
      .hidden {
         visibility:hidden;
      }
      .textBox {
         border-radius:5px;
      }
      .editProfileImage {
         position:relative;
         top:-14px;
         left:133px;
      }
      .profileUserEmails {
         position:relative;
         top:0px;
         left:43px;
      }
      .profileUserAccess {
         position:relative;
         top:-23px;
         left:330px;
      }
      .auto-style8 {
         width: 177px;
      }
      .button
      {
         background-color:#009900;
         color:White;
         border-radius:5px;
      }
      .dropDownLink {
         color:white;
         font-size:12px;
      }
      .addUser {
         position:relative;
         top:0px;
         left:0px;
      }
      .addProfilePlaceholder {
         position:relative;
         top:0px;
         left:34px;
      }
      .centerPanel {
         width:600px; 
         margin-left:auto; 
         margin-right:auto;
      }
      .centerLeftJustified {
         width:600px;
         text-align:left;
      }
      .repeater {
         width:600px;
         margin:0;
         align-content:flex-start;
      }
      .entryDescription {
         width:400px;
         align-items:flex-start;
         margin:0;
      }